.container {
  margin-top: 2vh;
  position: absolute;
  width: 100%;

  .contents {
    height: 100%;
    width: 100%;

    .postsContainer {
      width: 100%;
      display: grid;
      place-items: center;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto, clamp(10vh, 15vh, 50vh));
      gap: 1.5vh 0.5vw;
    }
  }
}
