.container {
  grid-column: 1;
  padding: 1vh 1vw;

  font-size: 1.5rem;
  font-weight: 700;

  display: grid;
  grid-template-rows: 70% 1fr;

  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);

  .navbarBrand {
    text-orientation: mixed;
    text-transform: uppercase;
    writing-mode: vertical-lr;
  }

  .navLinks {
    text-decoration: none;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .navLink {
      a {
        color: rgba(0, 0, 0, 1);
      }

      &:hover {
        a {
          color: rgba(0, 0, 0, 0.65);
        }
      }

      &:active,
      &:focus {
        a {
          color: lightseagreen !important;
        }
      }
    }
  }
}
